In [1]:
import pandas as pd
import json

In [26]:
wineData = pd.read_csv("Data/Wines_updated.csv", encoding="ISO-8859-1")
wineData.head()

,Vintage,Country,County,Designation,Points,Price,Province,Title,Variety,Winery
0,1/1/14,France,Pomerol,NaN,96,"$2,500.00",Bordeaux,Chteau Ptrus 2014 Pomerol,Bordeaux-style Red Blend,Chteau Ptrus
1,1/1/10,France,Saint-milion,NaN,100,"$1,500.00",Bordeaux,Chteau Cheval Blanc 2010 Saint-milion,Bordeaux-style Red Blend,Chteau Cheval Blanc
2,1/1/09,Australia,Eden Valley,Hill of Grace,91,$780.00,South Australia,Henschke 2009 Hill of Grace Shiraz (Eden Valley),Shiraz,Henschke
3,1/1/15,Germany,NaN,Kiedrich Grfenberg Trockenbeerenauslese,98,$775.00,Rheingau,Robert Weil 2015 Kiedrich Grfenberg Trockenbe...,Riesling,Robert Weil
4,1/1/12,Spain,Priorat,El Perer,96,$770.00,Catalonia,Marco Abella 2012 El Perer Carignan (Priorat),Carignan,Marco Abella

In [20]:
# Opening JSON file
jsonfile = open('custom.geo.json')
  
# returns JSON object as 
# a dictionary
Jsondata = json.load(jsonfile)
  
# Iterating through the json list
for i in data['features']:
    print(i)
    break


# Closing file
geoJson.close()

{'type': 'Feature', 'properties': {'scalerank': 1, 'featurecla': 'Admin-0 country', 'labelrank': 4, 'sovereignt': 'The Bahamas', 'sov_a3': 'BHS', 'adm0_dif': 0, 'level': 2, 'type': 'Sovereign country', 'admin': 'The Bahamas', 'adm0_a3': 'BHS', 'geou_dif': 0, 'geounit': 'The Bahamas', 'gu_a3': 'BHS', 'su_dif': 0, 'subunit': 'The Bahamas', 'su_a3': 'BHS', 'brk_diff': 0, 'name': 'Bahamas', 'name_long': 'Bahamas', 'brk_a3': 'BHS', 'brk_name': 'Bahamas', 'brk_group': None, 'abbrev': 'Bhs.', 'postal': 'BS', 'formal_en': 'Commonwealth of the Bahamas', 'formal_fr': None, 'note_adm0': None, 'note_brk': None, 'name_sort': 'Bahamas, The', 'name_alt': None, 'mapcolor7': 1, 'mapcolor8': 1, 'mapcolor9': 2, 'mapcolor13': 5, 'pop_est': 309156, 'gdp_md_est': 9093, 'pop_year': -99, 'lastcensus': 2010, 'gdp_year': -99, 'economy': '6. Developing region', 'income_grp': '2. High income: nonOECD', 'wikipedia': -99, 'fips_10': None, 'iso_a2': 'BS', 'iso_a3': 'BHS', 'iso_n3': '044', 'un_a3': '044', 'wb_a2': 'BS', 'wb_a3': 'BHS', 'woe_id': -99, 'adm0_a3_is': 'BHS', 'adm0_a3_us': 'BHS', 'adm0_a3_un': -99, 'adm0_a3_wb': -99, 'continent': 'North America', 'region_un': 'Americas', 'subregion': 'Caribbean', 'region_wb': 'Latin America & Caribbean', 'name_len': 7, 'long_len': 7, 'abbrev_len': 4, 'tiny': -99, 'homepart': 1, 'filename': 'BHS.geojson', 'column name': 0}, 'geometry': {'type': 'MultiPolygon', 'coordinates': [[[[-77.53466, 23.75975], [-77.78, 23.71], [-78.03405, 24.28615], [-78.40848, 24.57564], [-78.19087, 25.2103], [-77.89, 25.17], [-77.54, 24.34], [-77.53466, 23.75975]]], [[[-77.82, 26.58], [-78.91, 26.42], [-78.98, 26.79], [-78.51, 26.87], [-77.85, 26.84], [-77.82, 26.58]]], [[[-77, 26.59], [-77.17255, 25.87918], [-77.35641, 26.00735], [-77.34, 26.53], [-77.78802, 26.92516], [-77.79, 27.04], [-77, 26.59]]]]}}

In [18]:
d = {}
d['column name'] = 1
d['column name'] = 2
print(d)

{'column name': 2}

In [28]:
with open('custom.geo.json') as fp:
    data = json.load(fp)

for feature in data:
    print(feature['properties']['name'])

TypeError: string indices must be integers